@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutPatientDashboard";
    ViewData["Title"] = "Dashboard";
}

@*@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserID");
}
*@

@model IEnumerable<HalloDoc.DataModels.Request>

<div class="tab-pane fade show active d-flex justify-content-center" id="nav-tab1" role="tabpanel" aria-labelledby="nav-tab1-tab" tabindex="0">
    <div class="d-flex flex-column align-self-center m-2 w-75 medicalHistory">
        <strong class="fs-4">
            Medical History
        </strong>
        <div class="shadow bg-white rounded m-2 p-2">
            <div class="d-flex justify-content-end mb-2">
                <i class="d-block d-sm-none fa-solid fa-plus text-info border rounded border-info mx-3 mx-xs-2 my-1 p-2"></i>
                <a class="d-none d-sm-block btn border border-info text-info mx-3  mx-xs-2">Create New Request</a>
            </div>
            <table class="table">
                <thead style="background-color: #e9ecef;">
                    <tr>
                        <th class="col-3">Created Date</th>
                        <th class="col-3">Current Status</th>
                        <th class="col">Document</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-3">
                                @Html.DisplayFor(modelItem => item.Createddate)
                            </td>
                            <td class="col-3">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td class="col">
                                Documents
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="nav-tab2" role="tabpanel" aria-labelledby="nav-tab2-tab" tabindex="0">Aspernatur laborum labore itaque illo beatae nam, voluptas eligendi fugiat commodi incidunt non sit consectetur, eaque cumque animi ullam. Et, animi odit voluptate, id iusto unde ipsa excepturi natus ratione repellendus commodi magni molestiae doloremque earum voluptatem minima. Dignissimos deserunt culpa beatae eveniet, voluptatibus itaque quia numquam dicta quibusdam optio minima esse maiores. Odit culpa magnam, provident praesentium excepturi nisi illum tenetur obcaecati accusantium, porro eum iusto! Amet fugit ipsa veniam. Eius, cum! Mollitia eos, excepturi sequi atque impedit fuga quisquam voluptatem sapiente non ratione iure ipsam repudiandae tempore, debitis obcaecati possimus.</div>
