@{
    Layout = "_LayoutPatientDashboard";
}

<partial name="../_PartialViews/_PartialCancelAgreementModel" />
<div class="d-flex flex-column justify-content-center mx-auto" style="max-width:500px;">
        
    <p>To provide best medical service, we cannot determine the cost right away. If you agree to our service, so we will provide care and follow-up until all care is completed. So with this points, if you like us to provide care to you click on "Agree" and we'll get started immediately, if you do not agree simply click "Cancel".</p>
        
    <div class="d-flex justify-content-around">
        <a class="btn btn-success">I Agree</a>
        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelAgreement">Cancel</a>
    </div>
</div>