@{
    Layout = "_Layout";
    ViewData["Title"] = "Create Patient Request";
}

@model ViewDataPatientRequest

<div class="d-flex flex-column align-self-center m-3">
    <div class="d-flex flex-column align-self-center m-3">
        <div class="d-flex justify-content-end pe-2">
            <a asp-controller="Home" asp-action="SubmitRequestScreen" class="btn border border-info">
                <strong class="text-info">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
                </strong>
            </a>
        </div>
        <div class="shadow bg-white rounded m-2 p-2">
            <!-- Patient Information -->
            <strong class="fs-5 p-2">Patient Information</strong>
            <form method="post" asp-controller="PatientRequest" asp-action="Create">
                
                <div class="row p-2">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <textarea class="form-control shadow-none" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Enter Brief Details Of Symptoms</label>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control shadow-none" id="floatingInput" placeholder="Enter First Name">
                            <label for="floatingInput">First Name</label>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control shadow-none" id="floatingInput" placeholder="Enter Last Name">
                            <label for="floatingInput">Last Name</label>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control shadow-none" id="floatingInput" placeholder="Enter Date of Birth">
                            <label for="floatingInput">Date of Birth</label>
                        </div>
                    </div>
                </div>
                
                <!-- Patient Contact Information -->
                <strong class="fs-5 p-2">Patient Contact Information</strong>
                
                <div class="row p-2">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control shadow-none" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email</label>
                        </div>
                    </div>
                    <div class="col-md-6 phone">
                        <div class="form-floating mb-3 h-100">
                            <input type="tel" class="form-control shadow-none" id="phone">
                        </div>
                    </div>
                </div>
                
                <!-- Patient Location -->
                <strong class="fs-5 p-2">Patient Location</strong>
                
                <div class="row p-2">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control shadow-none" id="floatingInput" placeholder="Enter Street">
                            <label for="floatingInput">Street</label>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control shadow-none" id="floatingInput" placeholder="Enter City">
                            <label for="floatingInput">City</label>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control shadow-none" id="floatingInput" placeholder="Enter State">
                            <label for="floatingInput">State</label>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control shadow-none" id="floatingInput" placeholder="Enter Zip Code">
                            <label for="floatingInput">Zip Code</label>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control shadow-none" id="floatingInput" placeholder="Enter Room / Suite">
                            <label for="floatingInput">Room / Suite (Optional)</label>
                        </div>
                    </div>
                </div>
                
                <!-- Upload Photo or Document -->
                <strong class="fs-5 p-2">Upload Photo or Document (Optional)</strong>

                <div class="row p-2">
                    <div>
                        <div class="col-12 border rounded">
                            <div class="d-flex justify-content-between">
                                <span id="choosenfile" class="p-3">No file chosen</span>
                                <button class="bg-info btn btn-lg" onclick="document.getElementById('choosenfile').click()">
                                    <lable for="files" class="btn text-white">
                                        <i class="fa fa-cloud-upload"></i>
                                        <span class="d-none d-md-inline">Upload</span>
                                    </lable>
                                </button>
                                <input id="files" type="file" class="d-none">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-info text-white mx-2">Submit</button>
                    <a asp-controller="Request" asp-action="SubmitRequestScreen" class="btn border border-info text-info mx-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>