@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Reset Password";
}

<div class="align-self-center my-4 w-25">
    <a asp-controller="Home" asp-action="PatientLoginPage" class="text-info text-decoration-none">
        <strong>
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
        </strong>
    </a>
    <h3 class="py-3">Reset Your Passsword</h3>
    <form>
        <div class="form-floating mb-4 username">
            <input type="email" class="form-control shadow-none " id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Username</label>
            <button type="button" class="btn btn-light">
                <i class="icon fa-solid fa-user field-icon position-relative"></i>
            </button>
        </div>
    </form>
    <a href="#" class="btn btn-info text-white w-100 mb-4" role="button">Reset Passsword</a>
    <a asp-controller="Home" asp-action="PatientLoginPage" class="text-decoration-none d-flex justify-content-center"><strong class="text-info"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Login</strong></a>
</div>